<div class="container text-light">
<h3 class="mb-5">Welcome to the Fight Arena</h3>
<p class="fs-5">Create your warrior, choose your opponent and fight.</p>
<p class="fs-5">Become the best fighter and sign up at the top of the hall of fame.</p>
</div>
